/* styles.css */
body {
    font-family: Helvetica, Arial, sans-serif; /* Changed font to Helvetica */
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#container {
    text-align: center;
    max-width: 200px;
    width: 100%;
}

#logo-container {
    /* ... (previous styles) ... */
    transition: transform 0.5s ease-in-out; /* Added transition */
}

#logo {
    width: 100%;
}

#app {   
    height: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
    opacity: 0;
    animation: fadeIn 1s 1s forwards;
    width: 100%;
    margin-top: 20px;
    transition: transform 0.5s ease-in-out, height 0.5s ease-in-out;
    transform: translateY(0); /* Initial position */
    overflow: hidden; /* Hide overflowing content */
    height: auto; /* Allow height to be determined by content */
    transition: max-height 0.5s ease-in-out;  /* Smooth transition for height */
    padding: 20px; /* Add padding inside the app box */
    text-align: left; /* Left-align text */

}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

button {
    font-family: Helvetica, Arial, sans-serif; /* Changed font to Helvetica */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #45bb6f;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin: 0;  /* Ensured no margin is applied */
}

h2 {
    margin-bottom: 20px;
    font-size: 1rem;
}

button:hover {
    background-color: #0c6840;
}

#container {
    text-align: center;
    max-width: 200px;
    width: 100%;
    position: relative;
    display: flex;  /* Added to enable flexbox */
    flex-direction: column;  /* Added to organize child elements in a column */
    align-items: center;  /* Added to center child elements horizontally */
}

#credits {
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    font-family: 'Menlo', monospace;
    font-size: 0.8rem;
    color: #696969;
    white-space: pre-wrap;
    overflow: hidden;
    /* Removed border-right property */
    width: 100%;
    box-sizing: border-box;
    /* center */
    display: flex;
}

#output {
    display: none; /* Hide by default */
    padding: 10px;
    background-color: #f0f0f0; /* Light grey background */
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

/* Mobile Styles */
@media (max-width: 768px) {  /* Adjusting for typical mobile screen width */
    button {
        padding: 10px 10px;  /* Increased padding for larger touch area */
        font-size: 1.2rem;  /* Increased font size for better visibility */
    }

    #app {
        padding: 10px;  /* Increased padding for spacing */
    }

    #logo {
        max-width: 90%;  /* Adjust logo size if necessary */
    }
    
    #credits {
        font-size: 0.7rem;  /* Adjust credits font size if necessary */
    }
}

#location {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.6em;
    text-align: left;
    /* color */
    color: #3d3d3d;
}

#loading-message {
    display: none; /* Hide by default */
    text-align: left;
}

#loading-circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #45bb6f; /* Color */
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#traffic-lights {
    display: flex;
    visibility: hidden;  /* Hide the traffic lights initially */
}

.light {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    background-color: rgb(203, 203, 203);
    transition: background-color 0.5s;
}

#light-1.active { background-color: red; }
#light-2.active { background-color: rgb(228, 228, 0); }
#light-3.active { background-color: rgb(229, 229, 0); }
#light-4.active { background-color: rgb(0, 223, 0); }
#light-5.active { background-color: rgb(0, 223, 0); }

#message-container {
    text-align: left;
    opacity: 0;
    transition: opacity 0.5s;
    margin-bottom: 10px; /* Add space above the message container */
}

#message-container.active {
    opacity: 1;
}
